i.icon {
	font-size: 2em;
}

.container.main {
	margin-top: 7.0em;
	margin-bottom: 7.0em;
}

#delete {
	display: inline;
}

.main-footer {
  text-align: center;
  padding: 1rem;
  background: #1b1c1d;
  color: #fff;
  height: 60px;
}

body {
	background: #000;
}
